
{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div class="container">
<center><h3 style="color:red">PAYMENT PAGE</h3><hr> </center>
{% comment %} <center>
<div style="width:55%;background-color:lightgrey" class="jumbotron">
<div class="container">
    <div class="row">
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
        <div class="col-xs-4 col-md-4">
            <img style="width:150px;height:100px" class="img-responsive pull-right" src="{% static 'images/atm1.jpg'%}">
        </div>
        <div class="col-xs-4 col-md-4">
            <img style="width:150px;height:100px" class="img-responsive pull-right" src="{% static 'images/atm2.jpg'%}">
        </div>
        <div class="col-xs-4 col-md-4">
            <img style="width:150px;height:100px" class="img-responsive pull-right" src="{% static 'images/atm3.jpg'%}">
        </div>
    </div> {% endcomment %}

     <form action="{% url 'view_booking' %}" method="POST">
         {% csrf_token %}


 {% comment %} <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label  style="margin:10px" for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                         <ion-icon style="font-size:40px;margin-right:4px" name="card"></ion-icon><input style="margin:10px
                                            type="tel"
                                            class="form-control"
                                            name="cardnumber"
                                            placeholder="Valid Card Number"
                                            autocomplete="cc-number"
                                            required autofocus
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-6">
                                <div class="form-group">
                                    <label  for="cardExpiry"><span class="hidden-xs"></span><span class="visible-xs-inline">EXPIRY</span> DATE </label>
                                    <input
                                        type="tel"
                                        class="form-control"
                                        name="cardex"
                                        placeholder="MM / YY"
                                        autocomplete="cc-exp"
                                        required
                                    />
                                </div>
                            </div><br>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cardCVC">CVC CODE </label>
                                    <input
                                        type="tel"
                                        class="form-control"
                                        name="cvc"
                                        placeholder="CVC"
                                        autocomplete="cc-csc"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label style="margin:10px" for="cardCVC">Card Holder Name</label>
                                    <input style="margin:10px"
                                        type="tel"
                                        class="form-control"
                                        name="cvc"
                                        placeholder="Card Holder Name"
                                        autocomplete="cc-csc"
                                        required
                                    />
                                </div>
                            </div>
                        </div>

                            <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label style="margin:10px" for="couponCode">Amount In Rs.</label>
                                    <input style="margin:10px" type="text" class="form-control" value="{{total}}" name="amount" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input style="color:white;font-size:20px" type="submit" class="btn btn-success btn-lg btn-block" name="payment" value="payment">
							</div>

                             <div class="col-md-6">
                                <a href="{% url 'view_booking' %}" class="btn btn-success btn-lg btn-block" ><h6>Cash On Delivery</h6></a>
							</div>
                        </div>
                        </form>
                    </div>
</div></center></div> {% endcomment %}
{% comment %} <h2 align="center" class="">PAYMENT</h2><br> {% endcomment %}
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-6 ">Scan The QR code through your upi application</div>
  <div class="col-lg-4"></div>
</div></br>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-6 "><img src="paymentqr.jpg" alt="Upi ID:rushikesh6251@axl" style="img"></img>
  </div>
  <div class="col-lg-4"></div>
</div></br>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-3">Enter transaction Id of your Payment</div>
  <div class="col-lg-1"></div>
</div></br>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-3"><input type="text" name="transid" class="form-control" placeholder="Enter transaction ID">
    <p id="a"></p>
  </div>
  <div class="col-lg-1"></div>
</div></br>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-3 "> delivery Address </div>
  <div class="col-lg-3">Mobile number</div>
  <div class="col-lg-4"></div>
</div></br>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-3 text-primary"><textarea name="deladdress"
   class="form-control address-textarea" cols="50" placeholder="Enter Delivery Address" ></textarea  name="delmno" ><p id="b"></p> <br></div>
  <div class="col-lg-3"><input type="text" name="delmno" class="form-control" placeholder="Enter Mobile Number" ><p id="c"></p></div>
  <div class="col-lg-4"></div>
</div></br>

<!-- Add a hidden input field to store the unique ID -->
<input type="hidden" id="uniqueorderid" name="uniqueorderid">

<div class="row">
    <div class="col-lg-5"></div>
      <div class="col-lg-3"><input type="submit" class="btn btn-success btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mycart.php" class="btn btn-danger btn-lg">Back</a></div>
          
    <div class="col-lg-3"></div>
  </div><br>
{% if error %}
<script>
    alert('Booking order Successfully');
    window.location="{% url 'view_booking' %}";
</script>
{% endif %}

{% endblock %}
